<div class="row">
    <div class="col-md-12">
        <table class="table">
            <caption>{{ contributorCount }} contributors</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right">Contributions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="contributor in contributors">
                    <td>
                        <a href="{{ contributor.html_url }}"><img :src="contributor.avatar_url" width="20"> {{ contributor.login }}</a>
                    </td>
                    <td class="text-right">
                        {{ contributor.contributions }} contributions
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>