<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <div class="btn-group" role="group">
                <button v-bind:class="{ 'disabled': pageNumber == 1 }" type="button" 
                    class="btn btn-default" v-on:click="prev()">
                        Prev 30
                </button>
                <button v-bind:class="{ 'disabled': !nextPageAvailable }" type="button" 
                    class="btn btn-default" v-on:click="next()">
                        Next 30
                </button>
            </div>
        </div>
        <table class="table">
            <caption>Showing {{ commitCount }} commits (page {{ pageNumber }})</caption>
            <thead>
                <tr>
                    <th>Committer</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody v-for="commit in commits">
                <tr is="github-commits-item" :commit="commit" 
                    class="animated" transition="fade" transition-mode="out-in">
                </tr>
            </tbody>
        </table>
    </div>
</div>